@import 'bootstrap/dist/css/bootstrap.min.css';
@import './custom-login.css';
@import './custom-dashboard.css';
@import './custom-add-customer.css';
@import './custom-customer-index.css';
@import './custom-pagination.css';
@import './custom-user-management.css';
@import './custom-user-add.css';
@import './custom-task-management.css';
@import './custom-my-task.css';
@import './custom-platform-management.css';
@import './custom-service-management.css';
@import './custom-profile.css';
@import './custom-kam-task-management.css';